.book .book-summary .chapter.expanded > .articles {
	list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0; 	
}

.book .book-summary ul.summary li.done>a {
	color:#BBBBBB;
}
.book .book-summary ul.summary li.done>a:hover {
	color:#CCCCCC;
}

.book .book-summary ul.summary li a {
	color:#BBBBBB;
}
.book .book-summary ul.summary li a:hover {
	color:#CCCCCC;
}

.book .book-summary ul.summary li {
	background-color: #313E4E;
}

.book .book-summary ul.summary li.divider {
	background-color: #A5A5A5;
}

.book .book-summary {
	background-color: #313E4E;	
}

.book .book-summary ul.summary li.active {
	background-color: #4A90E2;
}
/*.book .book-summary ul.summary li.active.chapter:not(:has(ul)) {
	background-color: #4A90E2;
}*/
.book .book-summary ul.summary li.active>a {
	color: #FFFFFF;
}

.fa.fa-check {
	visibility: hidden;
}

.book .book-summary ul li {
	padding-left:10px;
}

.book .book-summary ul li.active {
	padding-left:0px;
}

.book .book-body .book-header {
	background-color: #EAEAEA;
	height: 40px;
}

.book .book-summary .summary > li:first-child {
	background-color: #182028;
	height:40px;
  	line-height:20px;
}

.book .book-summary .summary > li.divider {
	visibility:hidden;
}

li > a.gitbook-link {
	visibility: hidden;
}

.book .book-header .btn {
	line-height:45px;
}

#font-settings-wrapper .color-theme-list {
	display: none;
}
